<tr>
    <td class="command" data-command="editArea"><span class="ui-icon ui-icon-pencil"></span></td>
    <td class="command" data-command="deleteArea"><span class="ui-icon ui-icon-trash"></span></td>
    <td><%= min_latitude %></td>
    <td><%= max_latitude %></td>
    <td><%= min_longitude %></td>
    <td><%= max_longitude %></td>
</tr>
