<tr>
    <td class="command" data-command="editArea"><span class="ui-icon ui-icon-pencil"></span></td>
    <td class="command" data-command="deleteArea"><span class="ui-icon ui-icon-trash"></span></td>
    <td><%= minLatitude %></td>
    <td><%= maxLatitude %></td>
    <td><%= minLongitude %></td>
    <td><%= maxLongitude %></td>
</tr>
